openapi: 3.1.0
info:
  title: SOC Analyst Agent API
  description: |
    Automated Security Operations Center analysis platform. Provides endpoints for
    alert triage, incident management, threat intelligence, SIEM integration, and
    AI-powered security analysis.
  version: 1.0.0
  contact:
    name: SOC Engineering Team
    email: soc-engineering@company.com
  license:
    name: Proprietary
    url: https://company.com/licenses

servers:
  - url: https://soc-analyst-api.internal.company.com
    description: Production
  - url: https://soc-analyst-api.staging.internal.company.com
    description: Staging
  - url: http://localhost:8000
    description: Local development

security:
  - bearerAuth: []

tags:
  - name: health
    description: Health and readiness checks
  - name: auth
    description: Authentication and authorization
  - name: alerts
    description: Security alert management and triage
  - name: incidents
    description: Incident lifecycle management
  - name: analysis
    description: AI-powered security analysis
  - name: threat-intel
    description: Threat intelligence operations
  - name: siem
    description: SIEM integration and log management
  - name: rules
    description: Detection rule management
  - name: metrics
    description: Operational metrics and dashboards

paths:
  /health:
    get:
      operationId: healthCheck
      tags: [health]
      summary: Health check
      description: Returns the health status of the API and its dependencies.
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /metrics:
    get:
      operationId: getMetrics
      tags: [metrics]
      summary: Prometheus metrics
      description: Returns Prometheus-formatted metrics for monitoring.
      security: []
      responses:
        "200":
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string

  /api/v1/auth/login:
    post:
      operationId: login
      tags: [auth]
      summary: Authenticate user
      description: Authenticates a user and returns a JWT access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/auth/refresh:
    post:
      operationId: refreshToken
      tags: [auth]
      summary: Refresh access token
      description: Uses a refresh token to obtain a new access token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/alerts:
    get:
      operationId: listAlerts
      tags: [alerts]
      summary: List alerts
      description: Retrieves a paginated list of security alerts with filtering and sorting.
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/AlertStatus"
        - name: severity
          in: query
          schema:
            $ref: "#/components/schemas/Severity"
        - name: source
          in: query
          schema:
            type: string
            example: "crowdstrike"
        - name: assigned_to
          in: query
          schema:
            type: string
            format: uuid
        - name: created_after
          in: query
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          schema:
            type: string
            format: date-time
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [created_at, severity, status]
            default: created_at
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: Paginated list of alerts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

    post:
      operationId: createAlert
      tags: [alerts]
      summary: Create alert
      description: Creates a new security alert from an external source or manual entry.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertCreateRequest"
      responses:
        "201":
          description: Alert created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/alerts/{alert_id}:
    get:
      operationId: getAlert
      tags: [alerts]
      summary: Get alert details
      description: Retrieves detailed information about a specific alert.
      parameters:
        - $ref: "#/components/parameters/AlertIdParam"
      responses:
        "200":
          description: Alert details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      operationId: updateAlert
      tags: [alerts]
      summary: Update alert
      description: Updates an existing alert's status, severity, or assignment.
      parameters:
        - $ref: "#/components/parameters/AlertIdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertUpdateRequest"
      responses:
        "200":
          description: Alert updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/alerts/{alert_id}/triage:
    post:
      operationId: triageAlert
      tags: [alerts, analysis]
      summary: AI-powered alert triage
      description: Runs AI analysis on an alert to recommend severity, categorization, and response actions.
      parameters:
        - $ref: "#/components/parameters/AlertIdParam"
      responses:
        "200":
          description: Triage analysis complete
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriageResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/incidents:
    get:
      operationId: listIncidents
      tags: [incidents]
      summary: List incidents
      description: Retrieves a paginated list of security incidents.
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/IncidentStatus"
        - name: severity
          in: query
          schema:
            $ref: "#/components/schemas/Severity"
        - name: created_after
          in: query
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Paginated list of incidents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IncidentListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      operationId: createIncident
      tags: [incidents]
      summary: Create incident
      description: Creates a new security incident, optionally linking related alerts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncidentCreateRequest"
      responses:
        "201":
          description: Incident created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IncidentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/incidents/{incident_id}:
    get:
      operationId: getIncident
      tags: [incidents]
      summary: Get incident details
      description: Retrieves detailed information about a specific incident including timeline.
      parameters:
        - $ref: "#/components/parameters/IncidentIdParam"
      responses:
        "200":
          description: Incident details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IncidentDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      operationId: updateIncident
      tags: [incidents]
      summary: Update incident
      description: Updates an existing incident's status, severity, or details.
      parameters:
        - $ref: "#/components/parameters/IncidentIdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncidentUpdateRequest"
      responses:
        "200":
          description: Incident updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IncidentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/analysis/investigate:
    post:
      operationId: investigateEntity
      tags: [analysis]
      summary: Investigate entity
      description: Performs deep AI-powered investigation on an IP, domain, hash, or user entity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvestigationRequest"
      responses:
        "200":
          description: Investigation results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvestigationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/analysis/correlate:
    post:
      operationId: correlateEvents
      tags: [analysis]
      summary: Correlate events
      description: Correlates multiple security events to identify attack patterns and campaigns.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CorrelationRequest"
      responses:
        "200":
          description: Correlation results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CorrelationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/threat-intel/iocs:
    get:
      operationId: listIOCs
      tags: [threat-intel]
      summary: List indicators of compromise
      description: Retrieves a paginated list of known indicators of compromise.
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/IOCType"
        - name: confidence_min
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100
      responses:
        "200":
          description: Paginated list of IOCs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IOCListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      operationId: createIOC
      tags: [threat-intel]
      summary: Add IOC
      description: Adds a new indicator of compromise to the threat intelligence database.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IOCCreateRequest"
      responses:
        "201":
          description: IOC created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IOCResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: IOC already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/threat-intel/lookup:
    post:
      operationId: lookupThreatIntel
      tags: [threat-intel]
      summary: Threat intelligence lookup
      description: Looks up an entity across threat intelligence feeds and returns enrichment data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ThreatLookupRequest"
      responses:
        "200":
          description: Threat intelligence results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThreatLookupResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/siem/search:
    post:
      operationId: searchLogs
      tags: [siem]
      summary: Search SIEM logs
      description: Searches indexed security logs in OpenSearch with full-text and structured queries.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogSearchRequest"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogSearchResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/siem/ingest:
    post:
      operationId: ingestLogs
      tags: [siem]
      summary: Ingest log events
      description: Ingests a batch of log events into the SIEM index.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogIngestRequest"
      responses:
        "202":
          description: Log events accepted for processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/rules:
    get:
      operationId: listRules
      tags: [rules]
      summary: List detection rules
      description: Retrieves a paginated list of detection rules.
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: enabled
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Paginated list of detection rules
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      operationId: createRule
      tags: [rules]
      summary: Create detection rule
      description: Creates a new detection rule for automated alert generation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RuleCreateRequest"
      responses:
        "201":
          description: Rule created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from the /api/v1/auth/login endpoint.

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSizeParam:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    AlertIdParam:
      name: alert_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    IncidentIdParam:
      name: incident_id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  responses:
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationErrorResponse"
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    # --- Common ---
    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: "NOT_FOUND"
            message:
              type: string
              example: "The requested resource was not found."

    ValidationErrorResponse:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          required: [code, message, details]
          properties:
            code:
              type: string
              const: "VALIDATION_ERROR"
            message:
              type: string
              example: "Request validation failed."
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
                  type:
                    type: string

    PaginationMeta:
      type: object
      required: [total, page, page_size, total_pages]
      properties:
        total:
          type: integer
          example: 150
        page:
          type: integer
          example: 1
        page_size:
          type: integer
          example: 20
        total_pages:
          type: integer
          example: 8

    Severity:
      type: string
      enum: [critical, high, medium, low, informational]

    AlertStatus:
      type: string
      enum: [new, triaging, investigating, escalated, resolved, closed, false_positive]

    IncidentStatus:
      type: string
      enum: [open, investigating, containment, eradication, recovery, closed, post_mortem]

    IOCType:
      type: string
      enum: [ip, domain, url, hash_md5, hash_sha1, hash_sha256, email, file_name, mutex, registry_key]

    # --- Health ---
    HealthResponse:
      type: object
      required: [status, timestamp]
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        timestamp:
          type: string
          format: date-time
        version:
          type: string
          example: "1.0.0"
        dependencies:
          type: object
          properties:
            database:
              type: string
              enum: [connected, disconnected]
            redis:
              type: string
              enum: [connected, disconnected]
            opensearch:
              type: string
              enum: [connected, disconnected]

    # --- Auth ---
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 64
          example: "analyst@company.com"
        password:
          type: string
          minLength: 8
          format: password

    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    TokenResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: object
          required: [access_token, refresh_token, token_type, expires_in]
          properties:
            access_token:
              type: string
            refresh_token:
              type: string
            token_type:
              type: string
              const: "bearer"
            expires_in:
              type: integer
              description: Token TTL in seconds
              example: 3600

    # --- Alerts ---
    AlertCreateRequest:
      type: object
      required: [title, source, severity]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 256
          example: "Suspicious login from unusual location"
        description:
          type: string
          maxLength: 4096
        source:
          type: string
          example: "crowdstrike"
        severity:
          $ref: "#/components/schemas/Severity"
        raw_event:
          type: object
          additionalProperties: true
        tags:
          type: array
          items:
            type: string
          maxItems: 20

    AlertUpdateRequest:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/AlertStatus"
        severity:
          $ref: "#/components/schemas/Severity"
        assigned_to:
          type: string
          format: uuid
        notes:
          type: string
          maxLength: 4096

    AlertResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          $ref: "#/components/schemas/Alert"

    AlertDetailResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          allOf:
            - $ref: "#/components/schemas/Alert"
            - type: object
              properties:
                raw_event:
                  type: object
                  additionalProperties: true
                related_alerts:
                  type: array
                  items:
                    $ref: "#/components/schemas/Alert"
                timeline:
                  type: array
                  items:
                    $ref: "#/components/schemas/TimelineEntry"

    AlertListResponse:
      type: object
      required: [success, data, meta]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/Alert"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    Alert:
      type: object
      required: [id, title, source, severity, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        source:
          type: string
        severity:
          $ref: "#/components/schemas/Severity"
        status:
          $ref: "#/components/schemas/AlertStatus"
        assigned_to:
          type: string
          format: uuid
        incident_id:
          type: string
          format: uuid
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # --- Triage ---
    TriageResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: object
          required: [alert_id, recommended_severity, confidence, category, summary, recommended_actions]
          properties:
            alert_id:
              type: string
              format: uuid
            recommended_severity:
              $ref: "#/components/schemas/Severity"
            confidence:
              type: number
              format: float
              minimum: 0
              maximum: 1
              example: 0.87
            category:
              type: string
              example: "credential-access"
            mitre_techniques:
              type: array
              items:
                type: string
              example: ["T1110", "T1078"]
            summary:
              type: string
            recommended_actions:
              type: array
              items:
                type: string
            related_iocs:
              type: array
              items:
                type: string

    # --- Incidents ---
    IncidentCreateRequest:
      type: object
      required: [title, severity]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 256
        description:
          type: string
          maxLength: 8192
        severity:
          $ref: "#/components/schemas/Severity"
        alert_ids:
          type: array
          items:
            type: string
            format: uuid
        tags:
          type: array
          items:
            type: string

    IncidentUpdateRequest:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/IncidentStatus"
        severity:
          $ref: "#/components/schemas/Severity"
        assigned_to:
          type: string
          format: uuid
        summary:
          type: string
          maxLength: 8192

    IncidentResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          $ref: "#/components/schemas/Incident"

    IncidentDetailResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          allOf:
            - $ref: "#/components/schemas/Incident"
            - type: object
              properties:
                alerts:
                  type: array
                  items:
                    $ref: "#/components/schemas/Alert"
                timeline:
                  type: array
                  items:
                    $ref: "#/components/schemas/TimelineEntry"

    IncidentListResponse:
      type: object
      required: [success, data, meta]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/Incident"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    Incident:
      type: object
      required: [id, title, severity, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        severity:
          $ref: "#/components/schemas/Severity"
        status:
          $ref: "#/components/schemas/IncidentStatus"
        assigned_to:
          type: string
          format: uuid
        alert_count:
          type: integer
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time

    TimelineEntry:
      type: object
      required: [id, timestamp, action, actor]
      properties:
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        action:
          type: string
          example: "status_changed"
        actor:
          type: string
          example: "analyst@company.com"
        details:
          type: object
          additionalProperties: true

    # --- Analysis ---
    InvestigationRequest:
      type: object
      required: [entity_type, entity_value]
      properties:
        entity_type:
          type: string
          enum: [ip, domain, hash, email, user, hostname]
        entity_value:
          type: string
          example: "192.168.1.100"
        context:
          type: string
          maxLength: 2048

    InvestigationResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: object
          required: [entity_type, entity_value, risk_score, findings, recommendations]
          properties:
            entity_type:
              type: string
            entity_value:
              type: string
            risk_score:
              type: number
              format: float
              minimum: 0
              maximum: 100
              example: 72.5
            findings:
              type: array
              items:
                type: object
                properties:
                  source:
                    type: string
                  finding:
                    type: string
                  severity:
                    $ref: "#/components/schemas/Severity"
            recommendations:
              type: array
              items:
                type: string
            enrichment:
              type: object
              additionalProperties: true

    CorrelationRequest:
      type: object
      required: [alert_ids]
      properties:
        alert_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 2
          maxItems: 50
        time_window_hours:
          type: integer
          minimum: 1
          maximum: 720
          default: 24

    CorrelationResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: object
          required: [correlation_id, groups, attack_patterns]
          properties:
            correlation_id:
              type: string
              format: uuid
            groups:
              type: array
              items:
                type: object
                properties:
                  group_id:
                    type: string
                    format: uuid
                  alert_ids:
                    type: array
                    items:
                      type: string
                      format: uuid
                  confidence:
                    type: number
                    format: float
                  description:
                    type: string
            attack_patterns:
              type: array
              items:
                type: object
                properties:
                  technique_id:
                    type: string
                    example: "T1566.001"
                  technique_name:
                    type: string
                    example: "Spearphishing Attachment"
                  confidence:
                    type: number
                    format: float

    # --- Threat Intel ---
    IOCCreateRequest:
      type: object
      required: [type, value, source]
      properties:
        type:
          $ref: "#/components/schemas/IOCType"
        value:
          type: string
          example: "198.51.100.42"
        source:
          type: string
          example: "internal-investigation"
        confidence:
          type: integer
          minimum: 0
          maximum: 100
          default: 50
        tags:
          type: array
          items:
            type: string
        expiration:
          type: string
          format: date-time

    IOCResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          $ref: "#/components/schemas/IOC"

    IOCListResponse:
      type: object
      required: [success, data, meta]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/IOC"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    IOC:
      type: object
      required: [id, type, value, source, confidence, created_at]
      properties:
        id:
          type: string
          format: uuid
        type:
          $ref: "#/components/schemas/IOCType"
        value:
          type: string
        source:
          type: string
        confidence:
          type: integer
        tags:
          type: array
          items:
            type: string
        expiration:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    ThreatLookupRequest:
      type: object
      required: [entity_type, entity_value]
      properties:
        entity_type:
          $ref: "#/components/schemas/IOCType"
        entity_value:
          type: string
          example: "198.51.100.42"

    ThreatLookupResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: object
          required: [entity_type, entity_value, is_malicious, sources]
          properties:
            entity_type:
              type: string
            entity_value:
              type: string
            is_malicious:
              type: boolean
            risk_score:
              type: number
              format: float
              minimum: 0
              maximum: 100
            sources:
              type: array
              items:
                type: object
                properties:
                  feed_name:
                    type: string
                  confidence:
                    type: integer
                  last_seen:
                    type: string
                    format: date-time
                  context:
                    type: string

    # --- SIEM ---
    LogSearchRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          example: "source.ip:192.168.1.* AND event.action:login_failure"
        time_range:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        index:
          type: string
          default: "soc-analyst-*"
        size:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
        sort:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
              enum: [asc, desc]

    LogSearchResponse:
      type: object
      required: [success, data, meta]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        meta:
          type: object
          properties:
            total:
              type: integer
            took_ms:
              type: integer
            timed_out:
              type: boolean

    LogIngestRequest:
      type: object
      required: [events]
      properties:
        events:
          type: array
          items:
            type: object
            required: [timestamp, source, event_type]
            properties:
              timestamp:
                type: string
                format: date-time
              source:
                type: string
              event_type:
                type: string
              data:
                type: object
                additionalProperties: true
          minItems: 1
          maxItems: 1000

    IngestResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: object
          required: [accepted, failed]
          properties:
            accepted:
              type: integer
            failed:
              type: integer
            errors:
              type: array
              items:
                type: object
                properties:
                  index:
                    type: integer
                  error:
                    type: string

    # --- Rules ---
    RuleCreateRequest:
      type: object
      required: [name, query, severity]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 2048
        query:
          type: string
          example: 'event.action:"login_failure" AND event.outcome:"failure"'
        severity:
          $ref: "#/components/schemas/Severity"
        enabled:
          type: boolean
          default: true
        schedule:
          type: string
          description: Cron expression for rule execution
          example: "*/5 * * * *"
        tags:
          type: array
          items:
            type: string
        mitre_techniques:
          type: array
          items:
            type: string
          example: ["T1110"]

    RuleResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          const: true
        data:
          $ref: "#/components/schemas/Rule"

    RuleListResponse:
      type: object
      required: [success, data, meta]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/Rule"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    Rule:
      type: object
      required: [id, name, query, severity, enabled, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        query:
          type: string
        severity:
          $ref: "#/components/schemas/Severity"
        enabled:
          type: boolean
        schedule:
          type: string
        tags:
          type: array
          items:
            type: string
        mitre_techniques:
          type: array
          items:
            type: string
        last_executed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
